<div class="main">
  <!--  GAME INFO-->
  <div class="game-info">
    <app-scoreboard />
    <app-timer [milliseconds]="timerMilliseconds" (finished)="gameService.gameFinished()" />
  </div>

  <!--  Game Board-->
  <app-gridboard [gridSize]="gridSize">
    <ng-template let-x="xBoxPOS" let-y="yBoxPOS">
      <app-robot *ngIf="x === robotService.robotPOS.x && y === robotService.robotPOS.y" />

      <app-target *ngIf="x === targetService.targetPOS.x && y === targetService.targetPOS.y" />
    </ng-template>
  </app-gridboard>

  <!--  Controls-->
  <app-controls (currentGameControlInput)="manageCurrentGameControls($event)" />
</div>
